@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#background-image {
  background-image: url('../../public/20230929131352_IMG_4852\ \(1\).jpg');
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #ffffff;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

.nav {
  width: 0;
  height: 0;
  border-radius: 16px 0 16px 16px;
}

.open-nav {
  width: 182px;
  height: 216px;
}

@media (320px < width < 376px) {
  .open-nav {
    width: 200px;
    height: 216px;
  }
}

@media (375px < width < 431px) {
  .open-nav {
    width: 220px;
    height: 216px;
  }
}

@media (431px < width < 1024px) {
  .open-nav {
    width: 320px;
    height: 216px;
  }
}

.glass {
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

#home-works-button {
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.3px);
  -webkit-backdrop-filter: blur(4.7px);
  /*border: 1px solid rgba(255, 255, 255, 0.08);*/
}

#about-photo {
  background-image: url('../../public/IMG_9484.jpg');
}

.animated {
  opacity: 0;
  animation: fadeInUp 1s ease-in-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#firstAnimation {
  animation-delay: 0;
}

#secondAnimation {
  animation-delay: 0.75s;
}

#thirdAnimation {
  animation-delay: 1.5s;
}