@import 'tailwindcss';

@theme {
  --font-kufam: var(--font-kufam);
  --font-inter: var(--font-inter);
  --font-space-grotesk: var(--font-space-grotesk);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;

}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
    --contactOptionBg: #222222;
  }
}*/



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-gutter: stable;
  overflow-y: scroll;
  overflow-x: hidden;
}

.background-image {
  background-image: url('../../public/20230929131352_IMG_4852\ \(1\).jpg');
  background-color: #000000;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #ffffff;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

.nav {
  width: 0;
  height: 0;
  border-radius: 16px 0 16px 16px;
  z-index: 40;
  overflow: hidden;
}

.open-nav {
  width: min(182px, 75vw);
  height: 216px;
  overflow: hidden;
  z-index: 40;
}

@media (320px < width < 376px) {
  .open-nav {
    width: min(180px, 75vw);
    height: 216px;
    overflow: hidden;
  }
}

@media (375px < width < 431px) {
  .open-nav {
    width: min(200px, 75vw);
    height: 216px;
    overflow: hidden;
  }
}

@media (431px < width < 1024px) {
  .open-nav {
    width: min(300px, 75vw);
    height: 216px;
    overflow: hidden;
  }
}

.glass {
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4.7px);
  backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  background-clip: padding-box;
}

.mobile-nav-glass {
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.home-about-button {
  opacity: 1;
  background-color: rgba(163, 22, 22, 0.01);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4.7px);
  backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  z-index: 5;
}

.home-works-button {
  opacity: 1;
  background: rgba(163, 22, 22, 0.01);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  z-index: 5;
}

#about-photo {
  background-image: url('../../public/IMG_9484.jpg');
}

.animated {
  opacity: 0;
  animation: fadeInUp 1s ease-in-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#firstAnimation {
  animation-delay: 0;
}

#secondAnimation {
  animation-delay: 0.75s;
}

#thirdAnimation {
  animation-delay: 1.5s;
}

#resume-button {
  background: rgba(163, 22, 22, 0.001);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4.7px);
  backdrop-filter: blur(2.3px);
}

.noScrollbar::-webkit-scrollbar {
  display: none;
}

.noScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#topNav::before {
  position: absolute;
  content: '';
  background: rgba(255, 255, 255, 0.001);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: 300ms;
  /*backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.08);*/
}

#topNav.scrolled::before {
  background: rgba(255, 255, 255, 0.175);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /*border: 1px solid rgba(255, 255, 255, 0.08);*/
  z-index: -1;
  transition: 300ms;
}

#nav {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  overflow: hidden;
}

#nav.scrolled {
  background: rgba(255, 255, 255, 0.175);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.contactInput {
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4.7px);
  backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 8px;
  border-radius: 8px;
  color: white;
}

textarea.contactInput {
  min-height: 160px;
  resize: none;
  overflow: auto;
}

#contactSendButton {
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4.7px);
  backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  /*padding: 8px 16px;*/
  border-radius: 8px;
  width: fit-content;
  transition: 200ms;
} 
#contactSendButton:hover {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4.7px);
  backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  /*padding: 8px 16px;*/
  border-radius: 8px;
  width: fit-content;
  box-shadow: 0 0 30px rgba(200, 200, 200, 0.2);
}

.subjectOption {
  background: var(--contactOptionBg);
  color: var(--foreground);
  border-radius: 4px;
}

.nav-link-content {
  position: relative;
  display: inline-block;
}
  
.nav-link-content::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease;
}
  
.nav-link-content:hover::after {
  transform: scaleX(1);
}
  
.nav-link-content.active-link::after {
  transform: scaleX(1);
}

.project-component {
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4.7px);
  backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  transition: 300ms;
}

.project-component:hover {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 30px rgba(200, 200, 200, 0.2);
  -webkit-backdrop-filter: blur(4.7px);
  backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

#home-about-button {
  opacity: 1;
  background-color: rgba(170, 170, 170, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4.7px);
  backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  z-index: 5;
  transition: 300ms;
}

#home-works-button {
  opacity: 1;
  background: rgba(85, 85, 85, 0.01);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  z-index: 5;
  transition: 300ms;
}

#home-about-button:hover {
  opacity: 1;
  background-color: rgba(220, 220, 220, 0.2);
  box-shadow: 0 0 30px rgba(230, 230, 230, 0.2);
  -webkit-backdrop-filter: blur(4.7px);
  backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  z-index: 5;
}

#home-works-button:hover {
  opacity: 1;
  background: rgba(155, 155, 155, 0.15);
  box-shadow: 0 0 30px rgba(200, 200, 200, 0.2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  z-index: 5;
}

#about-works-button:hover {
  opacity: 1;
  background-color: rgba(220, 220, 220, 0.2);
  box-shadow: 0 0 30px rgba(230, 230, 230, 0.2);
  -webkit-backdrop-filter: blur(4.7px);
  backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  z-index: 5;
}

#resume-button {
  opacity: 1;
  background: rgba(85, 85, 85, 0.01);
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  z-index: 5;
  transition: 300ms;
}

#resume-button:hover {
  opacity: 1;
  background: rgba(155, 155, 155, 0.15);
  box-shadow: 0 0 30px rgba(200, 200, 200, 0.2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  z-index: 5;
}

.resume-dropdown {
  height: 0;
  opacity: 0;
  transition: height 150ms ease, opacity 150ms ease;
  animation: dropdownOpen 300ms ease forwards;
  overflow: hidden;
}

#X {
  transition: 150ms;
  color: rgba(255, 255, 255, 0.8);
}

#X:hover {
  box-shadow: 0 0 30px rgba(200, 200, 200, 0.4);
  color: rgba(255, 255, 255, 1);
}

#github {
  transition: 150ms;
  color: rgba(255, 255, 255, 0.8);
}

#github:hover {
  box-shadow: 0 0 30px rgba(200, 200, 200, 0.4);
  color: rgba(255, 255, 255, 1);
}

#linkedIn {
  transition: 150ms;
  color: rgba(255, 255, 255, 0.8);
}

#linkedIn:hover {
  box-shadow: 0 0 30px rgba(200, 200, 200, 0.4);
  color: rgba(255, 255, 255, 1);
}

#instagram {
  transition: 150ms;
  color: rgba(255, 255, 255, 0.8);
}

#instagram:hover {
  box-shadow: 0 0 30px rgba(200, 200, 200, 0.4);
  color: rgba(255, 255, 255, 1);
}

#facebook {
  transition: 150ms;
  color: rgba(255, 255, 255, 0.8);
}

#facebook:hover {
  box-shadow: 0 0 30px rgba(200, 200, 200, 0.4);
  color: rgba(255, 255, 255, 1);
}

#youtube {
  transition: 100ms;
  color: rgba(255, 255, 255, 0.8);
}

#youtube:hover {
  box-shadow: 0 0 30px rgba(200, 200, 200, 0.4);
  color: rgba(255, 255, 255, 1);
}

@keyframes dropdownOpen {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 82px;
    opacity: 1;
  }
}

@media (width > 1023px) {
  .nav {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-link {
    margin: 0 0 0 32px;
  }

  .nav-link-content {
    position: relative;
    display: inline-block;
  }

  .nav-link-content::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
  
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease;
  }
  
  .nav-link-content:hover::after {
    transform: scaleX(1);
  }
  
  .nav-link-content.active-link::after {
    transform: scaleX(1);
  }

  #nav {
    background: none;
    box-shadow: none;
    backdrop-filter: none;
  }
  
  #nav.scrolled {
    background: none;
    box-shadow: none;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    border: none;
  }

  .cursor-glow {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    background: -moz-radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(000, 000, 000, 0.0001) 100%);
    /*box-shadow: 0px 0px 20px rgba(055,055,055,1);*/
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(000, 000, 000, 0.0001) 100%);
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    z-index: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;
    display: none;
  }

  .cursor-glow.scrolling {
    opacity: 0;
    pointer-events: none;
  }

  #home-about-button {
    opacity: 1;
    background-color: rgba(170, 170, 170, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(4.7px);
    backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    z-index: 5;
    transition: 150ms;
  }
  
  #home-works-button {
    opacity: 1;
    background: rgba(85, 85, 85, 0.01);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    z-index: 5;
    transition: 150ms;
  }

  #home-about-button:hover {
    opacity: 1;
    background-color: rgba(220, 220, 220, 0.2);
    box-shadow: 0 0 30px rgba(230, 230, 230, 0.2);
    -webkit-backdrop-filter: blur(4.7px);
    backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    z-index: 5;
  }
  
  #home-works-button:hover {
    opacity: 1;
    background: rgba(155, 155, 155, 0.15);
    box-shadow: 0 0 30px rgba(200, 200, 200, 0.2);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    z-index: 5;
  }

  #about-works-button:hover {
    opacity: 1;
    background: rgba(155, 155, 155, 0.15);
    box-shadow: 0 0 30px rgba(200, 200, 200, 0.2);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    z-index: 5;
    transition: 300ms;
  }
}

@media (width > 1279px) {
  .nav {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-link {
    margin: 0 0 0 32px;
  }

  .nav-link-content {
    position: relative;
    display: inline-block;
  }

  .nav-link-content::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease;
  }

  .nav-link-content:hover::after {
    transform: scaleX(1);
  }

  .nav-link-content.active-link::after {
    transform: scaleX(1);
  }

  #nav {
    background: none;
    box-shadow: none;
    backdrop-filter: none;
  }

  #nav.scrolled {
    background: none;
    box-shadow: none;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    border: none;
  }

  .cursor-glow {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    background: -moz-radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(000, 000, 000, 0.0001) 100%);
    /*box-shadow: 0px 0px 20px rgba(055,055,055,1);*/
    background: radial-gradient(circle, rgba(255, 255, 255, 0.1) 0%, rgba(000, 000, 000, 0.0001) 100%);
    background-repeat: no-repeat;
    background-position: left;
    position: absolute;
    z-index: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;
    display: inline;
  }

  .cursor-glow.scrolling {
    opacity: 0;
    pointer-events: none;
  }

  .home-about-button {
    opacity: 1;
    background-color: rgba(170, 170, 170, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(4.7px);
    backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    z-index: 5;
    transition: 300ms;
  }

  .home-works-button {
    opacity: 1;
    background: rgba(85, 85, 85, 0.01);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    z-index: 5;
    transition: 300ms;
  }

  .home-about-button:hover {
    opacity: 1;
    background-color: rgba(220, 220, 220, 0.2);
    box-shadow: 0 0 30px rgba(230, 230, 230, 0.2);
    -webkit-backdrop-filter: blur(4.7px);
    backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    z-index: 5;
  }

  .home-works-button:hover {
    opacity: 1;
    background: rgba(155, 155, 155, 0.15);
    box-shadow: 0 0 30px rgba(200, 200, 200, 0.2);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    z-index: 5;
  }

  #about-works-button:hover {
    opacity: 1;
    background: rgba(155, 155, 155, 0.15);
    box-shadow: 0 0 30px rgba(200, 200, 200, 0.2);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    z-index: 5;
    transition: 300ms;
  }
}